# ======================
# Maven
# ======================
/target/
!.mvn/wrapper/maven-wrapper.jar

# ======================
# Eclipse / STS / Spring Tool Suite
# ======================
.project
.classpath
.settings/

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Temporary files
# ======================
*.tmp
*.swp

# ======================
# Compiled class files
# ======================
*.class